.u-section-1 .u-sheet-1 {
  min-height: 2246px;
}

.u-section-1 .u-text-1 {
  width: 188px;
  margin: 14px auto 0;
}

.u-section-1 .u-group-1 {
  margin-bottom: 29px;
  margin-top: 19px;
  background-image: none;
  min-height: 2148px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 407px;
  height: 656px;
  margin: 30px auto 0 34px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -656px 102px 0 auto;
}

.u-section-1 .u-video-1 {
  width: 568px;
  height: 320px;
  margin: 109px 50px 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-group-2 {
  width: 203px;
  min-height: 46px;
  margin: 133px 229px 0 auto;
}

.u-section-1 .u-group-3 {
  text-align: left;
  min-height: 46px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 9px 11px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.u-section-1 .u-group-4 {
  text-align: left;
  min-height: 46px;
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 9px 11px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-1 {
  width: 1068px;
  transform-origin: left center 0px;
  margin: 39px auto 0;
}

.u-section-1 .u-image-2 {
  width: 407px;
  height: 656px;
  margin: 30px auto 0 34px;
}

.u-section-1 .u-text-5 {
  text-align: left;
  font-size: 1.5rem;
  margin: -656px 40px 0 508px;
}

.u-section-1 .u-video-2 {
  width: 568px;
  height: 320px;
  margin: 112px 60px 0 auto;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-group-5 {
  width: 203px;
  min-height: 46px;
  height: auto;
  margin: 125px 242px 0 auto;
}

.u-section-1 .u-group-6 {
  text-align: left;
  min-height: 46px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 9px 11px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.u-section-1 .u-group-7 {
  text-align: left;
  min-height: 46px;
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 9px 11px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-align: left;
  margin: 0 0 -1px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-2 {
  width: 1068px;
  transform-origin: left center 0px;
  margin: 29px auto 0;
}

.u-section-1 .u-image-3 {
  width: 407px;
  height: 656px;
  margin: 30px auto 0 34px;
}

.u-section-1 .u-text-8 {
  text-align: left;
  font-size: 1.5rem;
  margin: -656px 294px 0 508px;
}

.u-section-1 .u-video-3 {
  width: 568px;
  height: 320px;
  margin: 112px 60px 0 auto;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
}

.u-section-1 .u-group-8 {
  width: 203px;
  min-height: 46px;
  margin: 144px 242px 0 auto;
}

.u-section-1 .u-group-9 {
  text-align: left;
  min-height: 46px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 9px 11px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.u-section-1 .u-group-10 {
  text-align: left;
  min-height: 46px;
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 9px 11px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  text-align: left;
  margin: 0 0 -1px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-3 {
    margin-bottom: initial;
    min-height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 113px;
    margin-left: 582px;
  }

  .u-section-1 .u-group-4 {
    margin-left: initial;
    margin-right: initial;
    min-height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 113px;
    margin-left: 582px;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
    height: 3px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-1 .u-video-2 {
    margin-top: 83px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 164px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-bottom: initial;
    min-height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 113px;
    margin-left: 582px;
  }

  .u-section-1 .u-group-7 {
    margin-left: initial;
    margin-right: initial;
    min-height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 113px;
    margin-left: 582px;
  }

  .u-section-1 .u-line-2 {
    width: 940px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -320px;
    margin-right: 194px;
    margin-left: 408px;
  }

  .u-section-1 .u-video-3 {
    margin-top: 42px;
    margin-right: 56px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 0;
  }

  .u-section-1 .u-group-9 {
    margin-bottom: initial;
    min-height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 113px;
    margin-left: 582px;
  }

  .u-section-1 .u-group-10 {
    margin-left: initial;
    margin-right: initial;
    min-height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 113px;
    margin-left: 582px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 3px;
    margin-left: 472px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 3px;
    margin-left: 472px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 128px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 3px;
    margin-left: 472px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 3px;
    margin-left: 472px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 84px;
    margin-left: 298px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 3px;
    margin-left: 472px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 3px;
    margin-left: 472px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 53px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -664px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 304px;
    margin-top: 919px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: -536px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 335px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 335px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-video-2 {
    width: 540px;
    height: 304px;
    margin-top: -1026px;
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    margin-top: 1049px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 335px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 335px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -1378px;
    margin-left: 202px;
    margin-right: 0;
  }

  .u-section-1 .u-video-3 {
    width: 540px;
    height: 304px;
    margin-top: 110px;
    margin-right: 0;
  }

  .u-section-1 .u-group-8 {
    margin-top: 15px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 335px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 335px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 548px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -545px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
    margin-top: 1769px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -1386px;
    margin-right: 137px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 135px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 135px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 548px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -548px;
  }

  .u-section-1 .u-video-2 {
    width: 340px;
    height: 191px;
    margin-top: -94px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 240px;
    margin-right: 137px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 135px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 135px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 548px;
    margin-top: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -592px;
    margin-left: 2px;
  }

  .u-section-1 .u-video-3 {
    width: 340px;
    height: 191px;
    margin-top: 368px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 128px;
    margin-right: 137px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 135px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 135px;
  }
}