.u-section-1 .u-sheet-1 {
  min-height: 2201px;
}

.u-section-1 .u-text-1 {
  margin: 14px auto 0;
}

.u-section-1 .u-group-1 {
  margin-bottom: 26px;
  margin-top: 14px;
  background-image: none;
  min-height: 2111px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 22px;
}

.u-section-1 .u-image-1 {
  width: 415px;
  height: 656px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-2 {
  margin: -656px 103px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 14px 30px 0 518px;
}

.u-section-1 .u-text-4 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-text-5 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-text-6 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-text-7 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-group-2 {
  width: 203px;
  min-height: 46px;
  margin: 56px 248px 0 auto;
}

.u-section-1 .u-group-3 {
  text-align: left;
  min-height: 46px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 9px 11px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.u-section-1 .u-group-4 {
  text-align: left;
  min-height: 46px;
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 9px 11px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-1 {
  width: 1076px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-10 {
  text-align: left;
  margin: 31px 56px 0 518px;
}

.u-section-1 .u-image-2 {
  width: 415px;
  height: 630px;
  margin: -72px auto 0 30px;
}

.u-section-1 .u-text-11 {
  text-align: left;
  margin: -538px 30px 0 518px;
}

.u-section-1 .u-text-12 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-text-13 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-text-14 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-text-15 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-group-5 {
  width: 203px;
  min-height: 46px;
  margin: 46px 248px 0 auto;
}

.u-section-1 .u-group-6 {
  text-align: left;
  min-height: 46px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 9px 11px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.u-section-1 .u-group-7 {
  text-align: left;
  min-height: 46px;
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 9px 11px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-2 {
  width: 1076px;
  transform-origin: left center 0px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-3 {
  width: 415px;
  height: 630px;
  margin: 31px auto 0 30px;
}

.u-section-1 .u-text-18 {
  text-align: left;
  margin: -630px 56px 0 518px;
}

.u-section-1 .u-text-19 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-text-20 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-text-21 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-text-22 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-text-23 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-text-24 {
  text-align: left;
  margin: 20px 30px 0 518px;
}

.u-section-1 .u-group-8 {
  width: 203px;
  min-height: 46px;
  margin: 56px 240px 0 auto;
}

.u-section-1 .u-group-9 {
  text-align: left;
  min-height: 46px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 9px 11px;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.u-section-1 .u-group-10 {
  text-align: left;
  min-height: 46px;
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 9px 11px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-1 .u-group-3 {
    margin-bottom: initial;
    min-height: auto;
  }

  .u-section-1 .u-text-8 {
    margin-right: 113px;
    margin-left: 582px;
  }

  .u-section-1 .u-group-4 {
    margin-left: initial;
    margin-right: initial;
    min-height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 113px;
    margin-left: 582px;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 374px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-1 .u-group-6 {
    margin-bottom: initial;
    min-height: auto;
  }

  .u-section-1 .u-text-16 {
    margin-right: 113px;
    margin-left: 582px;
  }

  .u-section-1 .u-group-7 {
    margin-left: initial;
    margin-right: initial;
    min-height: auto;
  }

  .u-section-1 .u-text-17 {
    margin-right: 113px;
    margin-left: 582px;
  }

  .u-section-1 .u-line-2 {
    width: 940px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 374px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 374px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 374px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 374px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 374px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 374px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 374px;
  }

  .u-section-1 .u-group-9 {
    margin-bottom: initial;
    min-height: auto;
  }

  .u-section-1 .u-text-25 {
    margin-right: 113px;
    margin-left: 582px;
  }

  .u-section-1 .u-group-10 {
    margin-left: initial;
    margin-right: initial;
    min-height: auto;
  }

  .u-section-1 .u-text-26 {
    margin-right: 113px;
    margin-left: 582px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-left: 128px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 128px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 128px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 128px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 128px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 3px;
    margin-left: 472px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 3px;
    margin-left: 472px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 154px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 128px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 128px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 128px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 128px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 128px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 3px;
    margin-left: 472px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 3px;
    margin-left: 472px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 154px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 154px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 154px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 154px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 154px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 154px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 154px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 3px;
    margin-left: 472px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 3px;
    margin-left: 472px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 335px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 335px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 335px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 335px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
    margin-left: 335px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
    margin-left: 335px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 537px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -537px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 137px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 135px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 135px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 516px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: -424px;
  }

  .u-section-1 .u-group-5 {
    margin-right: 137px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 135px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 135px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 516px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: -516px;
  }

  .u-section-1 .u-group-8 {
    margin-right: 137px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 135px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 135px;
  }
}